.twitter-follow{
    display:inline-block;
    padding:0px 10px 0px 30px;
    border-radius: 2px;
    background-color:#fa9a0a;
    /*
    color:white;
    text-decoration:none;
    font-size:16px; */
    background-image: url('/follow-buttons/twitter-icon.svg');
    background-size:16px;
    background-repeat:no-repeat;
    background-position:top 50% left 8px;
    transition:all 0.5s;
    color: rgb(175,238,238);
}
.twitter-follow:hover{
    background-color:#bf7402;
}
/*.mstdn::before{
  content:"@";
}*/
.twitter-follow > span{
    color:white;
    font-size:12px;
    padding-left:3px;
}
.twitter-follow > span:before{
    content:"@";
}